{% extends 'mypage_donor/sidemenu.html' %}

{% load static %}

{% block title %}

{% endblock %}

{% block style %}
{{ block.super }}
	.inputbox {
            width: 50%;
    }
    #form1{
    position:relative;
    left:10%;
    }
	#form2{
	position:absolute;
	top:10%;
	left:70%;
	}

{% endblock %}

{% block extra-script %}
function formCompletion(){

        var frm1 = document.getElementById("frm1");

        var param_index = 0;
        var param_names = [];
        var param_values = [];

        var id = frm1.elements[0].value;

        for(i = 0 ; i < frm1.elements.length ; i++){
          		if( !frm1.elements[i].value){
                      alert('폼을 완성해주세요!!');
                      return;
                  }
                  param_names[param_index] = frm1.elements[i].name;
                  param_values[param_index] = frm1.elements[i].value;

                  param_index++;
        }

        //3.임의의 form 만들어서 배열에서 키,값 가져와서 다시 세팅 및 서브밋
        var submitForm = document.createElement("form");
        //폼 값 설정...
        submitForm.setAttribute("charset","UTF-8");
        submitForm.setAttribute("method","post"); //get,post ... (test)테스트 결과 URL에 보이기 위해 get 방식 사용했음
        submitForm.setAttribute("action", "{% url 'mypage_donor:update' user.id %}");

        //전달할 키,값들 임의의 폼에 입력 양식 hidden으로 추가..
        for(i = 0 ; i < param_index ; i++){
            var hiddenField = document.createElement("input");

            hiddenField.setAttribute("type","hidden");
            hiddenField.setAttribute("name",param_names[i]);
            hiddenField.setAttribute("value",param_values[i]);

            submitForm.appendChild(hiddenField);
        }

			//4.임의로 만든 폼 body에 추가 후 submit
	        document.body.appendChild(submitForm);

	        submitForm.submit();
	        //modal로 만든 다음에 이걸 실행되도록 만들기.
    }
{% endblock %}

{% block content %}
   		<div class="col-8">
		<div id="upborder" style=" margin: 30px 0px 0px 0px; width: 600px; height: 20px; border-radius: 5px 5px 0px 0px; background-color:#B4A8A1;"></div>
            <div id="designBorder" style=" margin: 0px 0px 40px 0px; border-radius: 0px 0px 5px 5px; width: 600px; height: 350px; border: 4px solid #B4A8A1; ">
            <div id="tablebox" style="width: 550px; height: 300px; margin: 25px 10px 10px 25px;">
            	<form id="frm1">
                    {% csrf_token %}
                    <div id="form1">
                            <div class="input-group mb-2 inputbox">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">아이디</span>
                                    </div>
                                    <input type="text" class="form-control" value="{{ user.username }}" disabled>
                                </div>

                                <div class="input-group mb-2 inputbox">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">이름</span>
                                    </div>
                                    <input type="text" class="form-control" value="{{ user.member.name }}" disabled>
                                </div>
                                <div class="input-group mb-2 inputbox">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">닉네임</span>
                                    </div>
                                    <input type="text" class="form-control" name = "nickname" value="{{ user.member.nickname }}" >
                                </div>
                                <div class="input-group mb-2 inputbox">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">새 비밀번호</span>
                                    </div>
                                    <input type="password" class="form-control" id="newPw" name="password" value="">
                                </div>

                                <div class="input-group mb-2 inputbox">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">전화번호</span>
                                    </div>
                                    <input type="text" class="form-control" name="phone_number" value="{{ user.member.phone_number }}">
                                </div>
                    </div>
                </form>
                <input type="button" class="btn btn-primary updateButton" id="submitButton" onclick="formCompletion()" value="수정" style="float:right;">
                <a class="btn btn-primary btn-md cancealButton" href="{% url 'mypage_donor:private' %}" role="button" style="float:left;">취소하기</a>
            </div>
            </div>

        </div>
</div>
{% endblock %}
