{% extends 'receiverlist/RLsearchbar.html' %}
{% load static %}
{% block extra-script %}
	function registerReceiverLike(id){
		$.ajax({
				dataType : "json",
				type : "post",
				url : "{% url 'receiverlist:like_receiver' %}",
				data : {'id' : id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},//Url 매핑이 된 메소드에서 받는 변수
				success : function(response){ // result는 그 메소드에서의 return 값, 또는

					if(response.result){
						alert("해당 기관을 관심기관으로 등록했습니다!");
					}else{
						alert('이미 관심기관 리스트에 담겨 있습니다!');
					}

				}
			}
		);
		}

	function readDetail(Member_Receiver_detail){
		swal({
			title : "기관소개",
			text : Member_Receiver_detail,
			button : "창 닫기"
		});
	}
{% endblock %}

{% block content %}
   <div class = row>
   		<div class = "col-2"></div>
   		<div class="col-8">
		<div id="upborder" style=" margin: 30px 0px 0px 0px; width: 850px; height: 20px; border-radius: 5px 5px 0px 0px; background-color:#B4A8A1;"></div>
            <div id="designBorder" style=" margin: 0px 0px 40px 0px; border-radius: 0px 0px 5px 5px; width: 850px; height: 500px; border: 4px solid #B4A8A1; ">
            <div id="tablebox" style="width: 800px; height: 450px; margin: 25px 10px 10px 25px; overflow:scroll;">
            <table class="table table-sm" style="font-size: 12px; color:#736663; text-align: center;">
                <thead style=" background-color: #80716817">
                    <tr>
                    <th scope="col" style="font-size: 13px; color:#736663;">기관 이름</th>
                    <th scope="col" style="font-size: 13px; color:#736663;">기관 분류</th>
                    <th scope="col" style="font-size: 13px; color:#736663;">&nbsp;기관 주소&nbsp;</th>
                    <th scope="col" style="font-size: 13px; color:#736663;">&nbsp;&nbsp;웹사이트 url&nbsp;&nbsp;</th>
                    {% if user.is_active %}
                	<th scope="col" style="font-size: 13px; color:#736663;">기관에 대한 짧은 소개</th>
	                	{% if user.is_staff is False %}
	                    	<th scope="col" style="font-size: 13px; color:#736663;"> 관심기관 추가</th>
	                    {% endif %}
                	{% endif %}

                    </tr>
                </thead>
                <tbody>
                	{% for object in object_list %}
						<tr>
						<th scope = row>{{ object.name }}</th>
						<td>{{ object.category }}</td>
						<td>{{ object.ad_category }} {{ object.ad_detail }}</td>
						<td><a href="{{ object.url }}">{{ object.url }}</a></td>
						{% if user.is_active %}
						<td><p href="필요해요 글읽기 팝업.html" style="font-size: 13px;" onclick = "readDetail('{{ object.description }}')"><kbd style="background-color:#736663;">자세히보기</kbd></p></td>
							{% if user.is_staff is False %}
                    			<td><button type="button" class="btn btn-info btn-sm" onclick="registerReceiverLike('{{ object.user.id }}')">❤︎</button></td>
							{% endif %}
		        		{% endif %}
						</tr>
					{% endfor %}

                </tbody>
            </table>
			<div class = 'row'>
				<div class = col-4></div>
				<div class = col-4>
					<span>
						<div class = 'row'>
							<div class = col-3>
								{% if page_obj.has_previous %}
								<a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
								{% endif %}
							</div>
							<div class = col-6>
								Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
							</div>
							<div class = col-3>
								{% if page_obj.has_next %}
								<a href="?page={{ page_obj.next_page_number }}">NextPage</a>
								{% endif %}
							</div>
						</div>

					</span>
				</div>
				<div class = col-4></div>
			</div>
            </div>
            </div>
            </div>
	   <div class = col-2></div>
		</div>

{% endblock %}


